.button-primary {
  display: inline-block;

  padding: 10px 20px;
  background-color: #757575;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center;
  color: white;
}

.button-primary:active {
  color: white;
  background-color: #494949;
  
}


.container00 {
  justify-content: center;
  height: 70vh;
  width: 100vh;
  background-color: yellow;
}

.container11 {
  font-family: arial;
  font-size: 24px;
  padding: 25px;
  
  outline: dashed 1px black;
  /* 상하좌우 정중앙 정렬하기 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
  height: 30vh;
}

.child11 {
  width: 50px;
  height: 50px;
  background-color: red;
}
.container22 {
  font-family: arial;
  font-size: 24px;
  padding: 25px;
  
  outline: dashed 1px black;
  /* 상하좌우 정중앙 정렬하기 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
  height: 30vh;
}

.child22 {
  width: 50px;
  height: 50px;
  background-color: blue;
}